@import '../../colors';

#contact-page {
  .office-section {
    padding: 50px;
    box-sizing: border-box;
    background-color: grey;
    address {
      padding: 20px;
      background-color: white;
      border: 1px solid #ddd;
    }
  }
}

@media screen and (max-width:767px) {
  //.contact-cover {
  //  height: 110px;
  //  h1 {
  //    margin-top: 3rem;
  //    margin-bottom: 5px;
  //    font-size: 2em;
  //  }
  //  h4 {
  //    font-size: 1em;
  //    line-height: 1.5em;
  //  }
  //}
}