@import '../../../colors';

.navbar {
  background-color: $main-green;
}

.navbar-expand-xl .navbar-collapse {
  justify-content: center;
  align-items: center;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  margin-right: 55px;

  &:active {
   color: rgba(0,0,0,.7);
  }
}



