  .vertical-timeline {
    width: 100%;
  }
  .vertical-timeline--two-columns
  .vertical-timeline-element-content
  .vertical-timeline-element-date {
    color: white;
    font-weight: bold;
    left: 121%;
    opacity: 1;
  }

@media only screen and (min-width: 1170px) {
      .vertical-timeline--two-columns
        .vertical-timeline-element-content
          .vertical-timeline-element-date {
        right: 121% !important;
      }
  }

@media only screen and (max-width:767px) {
    .vertical-timeline--two-columns
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
      left: -23%;
      position: absolute;
      top: 0;
    }
}